body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(
      to left,
      rgb(0, 0, 0) 0%,
      rgb(0, 30, 85) 100%
    );
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
